<br> <br> <br>
<div class="box" id="rtrt">
    <div class="head">
        <h1>Kindly Select Your vehicle type to calculate Insurance Premium</h1>
    </div>
    
    <div class="type">
        <div class="flex">
            <div class="item1">
               
     <button routerLink="/calcfour">4-wheeler</button>       </div>
            <div class="item1">
                <button routerLink="/calctwo">2-wheeler</button>
            </div>
          
        </div>
        <!-- <router-outlet></router-outlet> -->
    </div>
    
    <!-- <div class="head2">
        <h1></h1>
    </div>
    </div> -->

    <br> <br>
    <div style="text-align: center;">
    <div > <button type="submit" style="background-color:cornsilk; font-size: large;" class="btn btn-primary" routerLink="/home">Home</button> </div>
</div>