<!--

<app-home></app-home>
<app-vehicle-registration></app-vehicle-registration>

<app-renew></app-renew>
<app-claim></app-claim>
<app-calculate-insurance></app-calculate-insurance>
<app-calctwo></app-calctwo>
<app-calcfour></app-calcfour>


<app-registration-form></app-registration-form>

-->



<router-outlet></router-outlet> 
<br> <br> <br> <br> <br> <br>

<footer style="text-align:center; font-size: 22px; color:white; margin-top: 120px;; padding:20px; background-color: darkblue;">
     
    &#169; 2022 General Insurance Group, All rights reserved.

</footer>

