<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="header">
        <h1 id="hrt">GENERAL INSURANCE</h1> <br> <br> 
     <b>  <h2 style="text-align: center; font-size:xx-large; color:rgb(3, 14, 90);margin-top: 5px;"><b> Vehicle Insurance System </b></h2> </b> 

    </div>
<br> <br>
    <div class="dashboard">



        <div class="flex-container">
            <div class="item"> <button routerLink="/login" style="background-color:rgb(247, 240, 209);"><b>LOGIN</b></button></div>
            <div class="item"> <button routerLink="/contact" style="background-color:rgb(247, 240, 209);"><b>CONTACT</b> </button></div>
            <div class="item"> <button routerLink="/aboutus" style="background-color:rgb(247, 240, 209);"><b>ABOUT US</b></button></div>
            <div class="item"> <button routerLink="/help" style="background-color:rgb(247, 240, 209);"><b>HELP</b></button></div>
            <div class="item"> <button routerLink="/faq" style="background-color:rgb(247, 240, 209);"><b>FAQ</b></button></div>
        </div>
    </div>
    
    <div class="koko" >
        
        <div class="size">
            <h2>Why Insurance?</h2>
        </div>

        <div class="grid">
            <div class="grid-item"  ><button routerLink="/user-registration" style="font-size: large;"><b> Buy Insurance</b></button > </div>
            <div class="grid-item"  ><button routerLink="/renew" style="font-size: large;"><b> Renew Insurance </b></button ></div>
            <div class="grid-item"  ><button routerLink="/claim" style="font-size: large;"><b> Claim Insurance </b></button ></div>
            <div class="grid-item"  ><button routerLink="/calculate-insurance" style="font-size: large;"><b> Estimate Insurance Calculation</b></button ></div>
        </div>
        <div class="flex">

            <div class="item1" >
              
            <ol>
                <b>
                <li> Owing to the risks posed by natural calamities, diseases, medical emergencies, and accidents, 
                    general insurance covers is something that  can provide a blanket of financial protection from them.
                </li>
             <br>
           
           
              <li>
               
               Vehicle insurance gives protection to the vehicle owner against: <br> 
               <ul style="list-style-type:disc;"> <li>damages to his/her vehicle </li> 
                    <li>pays for any Third Party Liability determined as per law against the owner of the vehicle. </li>
           
               </ul>
        </li> </b>
        </ol>
     
           
            </div>  

        </div>

     <!--   <div class="img">
            <a href="add"><img src="C:\Users\Aishwarya\ApiAngularSample\images\backgroundblue.jpg" alt=""></a>
        </div> -->

    </div>
   

</body>
<!-- <footer style="text-align:center; color:white; padding:20px; background-color: darkblue;">
     
    &#169; 2022 General Insurance Group, All rights reserved.

</footer> -->


</html>