<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="header">
        <h1 id="hrt">GENERAL INSURANCE</h1>

    </div>

    <div class="dashboard">



        <div class="flex-container">
            <div class="item"> <button routerLink="/login">LOGIN</button></div>
            <div class="item"> <button routerLink="/contact">CONTACT </button></div>
            <div class="item"> <button routerLink="/aboutus">ABOUT US</button></div>
            <div class="item"> <button routerLink="/help">HELP</button></div>
            <div class="item"> <button routerLink="/faq">FAQ</button></div>
        </div>
    </div>
    
    <div class="koko" >
        
        <div class="size">
            <h2>Why Insurance?</h2>
        </div>

        <div class="grid">
            <div class="grid-item"  ><button routerLink="/vehicle-registration"> Buy Insurance</button > </div>
            <div class="grid-item"  ><button routerLink="/renewinsurance"> Renew Insurance</button ></div>
            <div class="grid-item"  ><button routerLink="/claiminsurance"> Claim Insurance</button ></div>
            <div class="grid-item"  ><button routerLink="/estimate-insurance"> Eestimate Insurance Calculation</button ></div>
        </div>
        <div class="flex">

            <div class="item1" >
             <b>   1. Owing to the risks posed by natural calamities, diseases, medical emergencies, and accidents, 
                 general insurance covers is something that can provide a blanket of financial protection from them.
            </b>
            </div>
            <div class="item1">
            <b>
               2. Vehicle insurance gives protection to the vehicle owner against <br> i. damages to his/her vehicle <br>ii. pays for any Third Party Liability determined as per law against the owner of the vehicle.
            </b>
            </div>
            

        </div>

     <!--   <div class="img">
            <a href="add"><img src="C:\Users\Aishwarya\ApiAngularSample\images\backgroundblue.jpg" alt=""></a>
        </div> -->

    </div>
   


<footer>
    <div class="row">
        <div class="foot">
            <span>About Us </span><br><br>
            About Us <br><br>

            Contact Us <br><br>


    </div>
        <div class="foot">
            <span> Info </span> <br><br>

            T & C<br>
            <br>

Privacy Policy <br><br>

FAQ <br><br>


       <!-- </div>
        <div class="foot">
            <span> Global Sites </span> <br><br>

            India <br><br> -->



        </div>
        <div class="foot" id="mail"> 
            <span>Our Partners </span> <br><br>

            HDFC BANK <br><br>
           
        </div> <br>
        
        <div class="hehe" id="how">
         
            
        
            General Insurance is the world's largest online Insurance booking <br><br>
       
            
        Ⓒ 2021 General Insurance Group, All rights reserved

    </div>
</div>
</footer>
    <script src="home.component.ts" async defer></script>


</body>

</html>